.mainDiv
{
    width: auto;
    height: 670px;
    background-color: rgb(150, 63, 242);
    padding-top: 150px;
    padding-left: 350px;
}
.outerDiv
{
    width: 800px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.InnerDiv1
{
    width: 300px;
    height: 600px;
    background-color: rgb(38, 111, 247);
}
.InnerDiv2
{
    width: 500px;
    height: 600px;
    background-color: white;
}
h1
{
   margin-left: 30px; 
   margin-top: 30px;
   color: white;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 30px;
}
#Para1
{
    color: white;
    margin-left: 30px;
}
img
{
    padding-top: 230px;
    padding-left: 30px;
    height: 150px;
    width: 200px;
}
#input1
{
    width: 400px;
    margin-top: 25px;
    margin-left: 35px;
    border: none;
    border-bottom: 2px solid rgb(178, 177, 177);
}
#input2
{
    width: 400px;
    margin-top: 23px;
    margin-left: 35px;
    border: none;
    border-bottom: 2px solid rgb(178, 177, 177);
}
.lable1
{
    margin-left: 35px;
    margin-top: 50px;
    color: rgb(125, 121, 121);
}
span
{
    color: rgb(125, 121, 121);
}
#input5
{
    margin-left: 10px;
    margin-top: 23px;
    color: rgb(125, 121, 121);;
}
#input6
{
    margin-left: 66px;
    color: rgb(125, 121, 121);;
}
#input7
{
    margin-left: 70px;
    margin-top: 20px;
    color: rgb(125, 121, 121);;
}
#input8
{
    width: 100px;
}
#para2
{
    color: rgb(178, 177, 177);
    margin-left: 35px;
    font-size: 14px;
}
#btn1
{
    width: 340px;
    height: 35px;
    margin-left: 80px;
    margin-top: 20px;
    background-color: rgb(241, 109, 8);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}
#para3
{
    /*margin-left: 100px;*/
    margin-top: 50px;
    text-align: center;
}
a
{
    text-decoration: none;
}
#btn2
{
    background-color: brown;
    border: none;
}