.mainDiv
{
    width: auto;
    height: 670px;
    background-color: brown;
    padding-left: 400px;
    padding-top: 150px;
}
.outerdiv
{
width: 700px;
height: 550px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}
.innerDiv1
{
 width: 250px;
 height: 550px;
 background-color: rgb(38, 111, 247);
 padding-left: 25px;
}
.innerDiv2
{
 width: 450px;
 height: 550px;
 background-color: white;

}
h1
{
color: white;

}
p
{
    color: white;
}
img
{
    padding-top: 200px;
    height: 150px;
    width: 200px;
}
#Usernameinput
{
    margin-left: 25px;
    margin-top: 90px;
    width: 350px;
    border: none;
    border-bottom: 2px solid rgb(178, 177, 177);
}
#Passwordinput
{
    margin-left: 25px;
    margin-top: 50px;
    width: 350px;
    border: none;
    border-bottom: 2px solid rgb(178, 177, 177);
}
#para2
{
    color: rgb(178, 177, 177);
    margin-left: 25px;
    font-size: 14px;
}
#btn1
{
    width: 340px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgb(241, 109, 8);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}
#para3
{
    /*margin-left: 100px;*/
    margin-top: 200px;
    text-align: center;
}
a
{
    text-decoration: none;
}
#btn2
{
    background-color: brown;
    border: none;
}